<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redefinição de senha</title>
</head>
  <body>
    <div>
      <h2 style="font-family: Roboto; font-weight: 200">Olá, {{firstName}}! </h2>

      <p style="font-size: 14px; font-family: Roboto; font-weight: 200">Parece que você esqueceu sua senha e solicitou a redefinição.</p>
      <p style="font-size: 18px; font-family: Roboto; font-weight: 200; margin-bottom: 2rem;">Clique no botão abaixo para redefinir sua senha:</p>
      <a href="{{resetLink}}" style="padding: 1rem; background-color: #00A335; border-radius: 0.5rem; text-decoration: none; color: #ffffff; box-shadow: 2px 2px rgba(171, 171, 171, 0.2); font-weight: 500;">Redefinir senha</a>
      <p style="font-size: 14px; font-family: Roboto; font-weight: 200; margin-top: 2rem;">
        Ou então: <a href="{{resetLink}}" style="text-decoration: none; color: #919191; font-weight: 500; font-size: 10px; font-style: italic;">{{resetLink}}</a>
      </p>
      <p style="font-size: 18px; font-family: Roboto; font-weight: 200; margin-top: 2rem">Obs.: esse link é válido apenas por {{linkExpireTime}} minutos.</p>
      <hr style="border: 1px solid #CCCCCC">
      <p style="font-size: 14px; font-family: Roboto; font-weight: 200; font-style: italic;">
        Se você não reconhece essa solicitação, é possível que alguém tenha
        inserido seu e-mail por engano. Nesse caso, apenas a ignore.
      </p>
    </div>
  <body>
</html>
